{% extends "base.html" %}
{% block title %}
还在等什么，同样的商品，用更少的钱买！！！
{% endblock%}
{% block css %}
<link rel="stylesheet" href="/static/css/style.css" type="text/css" charset="utf-8"/>
<link rel="stylesheet" href="/static/css/responsive.css" type="text/css" charset="utf-8"/>
{{super()}}
{% endblock %}
{% block js %}
<script src="/static/js/jquery.js" type="text/javascript"></script>
<script src="/static/js/scripts.js" type="text/javascript"></script>
{{super()}}
{% endblock %}
{% block style %}
<style></style>
{% endblock %}
{% block content %}
<section id="sites" class="fixedContainer">
    <div class="panel text-center">
    	<div class="padding-large">
           <img class="profile img-circle" src="/static/img/{{type if type else 'default'}}/picture.png">
        </div>
    </div>
</section>
{% endblock %}